<% include partials/_header %>

<div class="container">

    <div class="row mt-6">
        <div class="col-md-7">




<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>id del mantenimiento</th>
         
            <th>descripcion del mantenimiento</th>
            <th>duracion</th>
            <th>opciones</th>


        </tr>


    </thead>


    <tbody>

        <% if (data) { %>
        <% for (var i =0 ; i< data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].idmantenimiento %>
                    </td>
                    <td> <%= data[i].descripcion %></td>
                    <td> <%= data[i].duracion %></td>

                    <td>
                        <a href="/mantenimientosdelete/<%= data[i].idmantenimiento %>" class="btn btn-danger">Delete</a>
                        <a href="/mantenimientosupdate/<%= data[i].idmantenimiento %>" class="btn btn-info">Update</a>
                    </td>
                </tr>


            <% } %>   
        <% } %>

    </tbody>
</table>
</div>
<div class="col-md-5">
    <div class="card">
        <div class="card-body">
               <form action="/mantenimientosadd" method="post">
                   
                   
                       <div class="form-group">
                               <input type="text" name="descripcion" placeholder="descripcion del mantenimiento" class="form-control" required>
               
                           </div>
                         
                           <div class="form-group">
                            <input type="number" name="duracion" placeholder="duracion del mantenimiento" class="form-control" required>
            
                        </div>
                    
       
                           <button type="submit" class="btn btn-primary">Agregar Mantenimiento </button>
               </form>

        </div>

    </div>





</div>

</div>
</div>




<% include partials/_footer %>