<% include partials/_header %>

<div class="container">

    <div class="row mt-6">
        <div class="col-md-7">




<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>id de la ruta</th>
            <th>IATA del origen</th>
            <th>IATA del destino</th>
            <th>Opciones</th>


        </tr>


    </thead>


    <tbody>

        <% if (data) { %>
        <% for (var i =0 ; i< data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].idruta %>
                    </td>
                    <td> <%= data[i].IATA_origen %></td>
                    <td> <%= data[i].IATA_destino %></td>
                  
                    
                    <td>
                        <a href="/rutasdelete/<%= data[i].idruta %>" class="btn btn-danger">Delete</a>
                        <a href="/rutasupdate/<%= data[i].idruta %>" class="btn btn-info">Update</a>
                    </td>
                </tr>


            <% } %>   
        <% } %>

    </tbody>
</table>
</div>
<div class="col-md-5">
    <div class="card">
        <div class="card-body">
               <form action="/rutasadd" method="post">

                

                   <div class="form-group">
                       <input type="text" name="IATA_origen" placeholder="IATA origen" class="form-control" required>
       
                   </div>
                   <div class="form-group">
                    <input type="text" name="IATA_destino" placeholder="IATA destino" class="form-control" required>
    
                </div>
                   
       
                           <button type="submit" class="btn btn-primary">Agregar Ruta</button>
               </form>

        </div>

    </div>





</div>

</div>
</div>




<% include partials/_footer %>